html, body {
    height: 100%;
}
/* Resetování výchozích stylů prohlížeče */
html,body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Základní styly pro tělo stránky */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}


/*****************************/
/* Zacatek stylu pro header  */
/*****************************/

/* Styl pro záhlaví stránky */
header {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 24px;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    align-items: center;
}
#name_E_shop{
    flex: 1;
}


header #name_E_shop h1{
    padding: 0;
    margin:  0 10px;
    align-items: center;
    /*background-color: #fff;*/
}
/*
.header-content{
    display: flex; 
    flex: 5;
    justify-content: space-between;
}
*/

.search {
    display: flex;
    align-items: center;
    position: relative;
  
}


.search input {
    min-width: 50%;
    margin-right: 0px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
     /* Roztáhne se na plnou dostupnou šířku */
}
.search-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* Mezi tlačítkem a polem pro vyhledávání bude mezera */
}
.search-dropdown {
    /*display: none;*/
    position: absolute;
    width: 50%;
    max-height: 0;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    /*transform: scaleY(0);*/
    transform-origin: top;
    transition: opacity 1s, transform 1s, max-height 0.1s;
    overflow: hidden;
    
}

/* Zacatek stylu search */
.search-dropdown ul, .list_catalog ul{
    list-style: none;
    padding: 0;
}

.search-dropdown ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.search-dropdown ul li:hover, .list_catalog li:hover {
    background: #d6d2d2;
}

.search-dropdown ul li:last-child {
    border-bottom: none;
}
.search input:focus + .search-dropdown {
    /*display: block;*/
    position: absolute;
    top: 100%;
    opacity: 1;
    /*transform: scaleY(1);*/
    /*height: auto;*/
    max-height: 1000px; 
}
/* konec stylu search */


.right-header{
    display: flex;

    justify-content: space-between;
}
.cart img {
    width: 30px;
    height: 30px;
}


/********************************/
/* Zacatek stylu pro CONTAINER  */
/********************************/
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    height: 100%;
}

/****************************/
/* Zacatek stylu pro FOOTER */
/****************************/

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.contact-info, .quick-links, .social-media {
    flex: 1;
    padding: 0 20px;
}

.contact-info p {
    margin: 5px 0;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links ul li {
    margin-bottom: 5px;
}

.social-icon {
    display: block;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
/* konec stylu pro footer */


/*>> Nize jsou konkretni stylovani <<**/

/******************************/
/* Zacatek stylu pro Homepage */
/******************************/

.Homepage-list-catalog {
    display: flex;
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    margin-right: 0px;
    border: 1px solid #ddd;
}
.Homepage-list-catalog ul{
    width: 100%;
    display: flex;
    flex-direction:column;
}
.Homepage-list-catalog li{
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
}
.Homepage-list-catalog li:hover{
    border: 1px solid #706b6b;
}
.Homepage-list-catalog li a{

    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 7px 5px 7px;
    width: 100%;
    display: flex;
}

.Homepage-catalog{
    flex: 5;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    margin-left: 0;
    overflow: hidden;
}
.Homepage-catalog h2{
    margin-left: 10px;
}

.Homepage-recommended {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    
    justify-items: start;
    align-items: start;
    column-gap: 0px;
    row-gap: 0px;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    overflow: hidden;
}
.Homepage-product {
    justify-self: center;
    align-self: stretch;
    place-self: stretch stretch;
    justify-self: stretch;
    width: 45%;
    min-width: 45%; /* Každý produkt bude mít 30% šířky, aby se vešly 3 vedle sebe */
    margin: 5px;
    text-align: center;
}
.Homepage-product:hover{
    box-shadow: 10px 0px 15px 2px rgba(0, 0, 0, 0.2);
}
.Homepage-product a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /*min-width: 200px;*/
    min-height: 175px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0;
    padding: 10px;
}

.Homepage-product img {
    flex: 2;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: auto;
    background-color: #e4e0e0;
}

.Homepage-product p {
    margin: 10px 0;
}

.Homepage-add-to-cart {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.Homepage-add-to-cart:hover {
    background-color: #0056b3;
}

/*
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  */

/* Další styly podle vašich potřeb */

