/* Resetování výchozích stylů prohlížeče */
html,
body,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 25px /*24px*/;
  white-space: nowrap;
}
h3 {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  align-items: center;
}

/* Základní styly pro tělo stránky */
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/*****************************/
/* Zacatek stylu pro header  */
/*****************************/

/* Styl pro záhlaví stránky */
header {
  display: grid;
  grid-template-areas: "a right-header right-header" "b b b";
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  row-gap: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

#name_E_shop {
  grid-area: a;
}

header #name_E_shop h1 {
  padding: 0;
  margin: 0 10px;
  align-items: center;
  /*background-color: #fff;*/
}
/*
.header-content{
    display: flex; 
    flex: 5;
    justify-content: space-between;
}
*/
header article{
  grid-area: b;
  position: relative;
}
header .search {
  display: flex;
  align-items: center;
  position: relative;
  grid-area: b;
  background-color: #fff;
  border-radius: 4px;
  gap: 10px;
  padding: 2px;
}
header .lupa {
  width: 25px;
  filter: invert(100%);
  padding-right: 10px;
}

header .search input {
  /*min-width: 50%;*/
  flex-grow: 5;
  margin-left: 10px;
  margin-right: 0px;
  padding: 15px 0;
  border: none;
  border-radius: 4px;
  /* Roztáhne se na plnou dostupnou šířku */
  /*width: 100%;*/
  font-size: 2vh;
  /*border: none;*/
}

header .search input:focus {
  outline: none;
}
header .search-button {
  background-color: #fff;
  /*color: #fff;*/
  /*padding: 10px 15px; pc*/
  /*padding: 10px;*/ /*mobile*/
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /*margin-left: 15px; /* Mezi tlačítkem a polem pro vyhledávání bude mezera */
  display: block;
  margin: 0;
  padding: 0;
}
header .search-button p {
  opacity: 0;
  display: none;
}
header .x-button {
  /*display: none;*/
  background: none;
  /*outline: none;*/
  border: solid 2px #333;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  outline: 0;
  vertical-align: middle;
  display: inline-block;
  transition: opacity 0.5s;
}

header .x-button:after {
  content: "X";
  font-size: 15px;
  display: block;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}
header .search-box:not(:valid) ~ .x-button {
  /*display: none;*/
  opacity: 0;
}

/*
header .button:hover sptan:afer {
    opacity: 1;
    right: 0;
  }*/
header .search-dropdown {
  /*display: none;*/
  position: absolute;
  width: 95%;
  max-height: 0;
  color: #333;
  font-size: 2vb; /*mobile*/
  border: none;
  background: none;
  z-index: 1;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 1s, transform 1s, max-height 0.1s;
  overflow: hidden;
  z-index: 2;
}

/* Zacatek stylu search */
header .search-dropdown ul,
header .list_catalog ul {
  list-style: none;
  padding: 0;
}

header .search-dropdown ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  padding: 0;
}

header .search-dropdown a {
  display: block;


}

header .search-dropdown ul li:hover,
header .list_catalog li:hover {
  background: #707070;
}

header .search input:focus + .search-dropdown {
  display: block;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 10px 5px 10px rgba(0, 0, 0, 0.1);
  top: 100%;
  opacity: 1;
  transform: scaleY(1);
  /*height: auto;*/
  max-height: 1000px;
}
/*
.search input:focus ~ .search-button {
    display: block;
}
/*PC*/

/* konec stylu search */

header .search-icon {
  display: flex;
  opacity: 1;
  transition: opacity 1s;
  position: fixed;
  justify-content: center;
  right: 0;
  bottom: 0;
  width: 100%;
  font-size: 2vb;
  padding: 10px;
  background-color: #333;
}
header .search-icon button {
  width: 90%;
  position: relative;
  cursor: pointer;
  left: 2%;
  background-color: #007bff;
  border-radius: 15px;
  font-size: 2vb;
  align-items: center;
  justify-items: center;
  padding: 15px;
  box-shadow: 0px 0px 2px 2px #333;
  color: #fff;
}
header .search-icon img {
  width: 20px;
}

header .search-box:not(:valid) ~ .search-icon {
  display: none;
  opacity: 0;
}
header .right-header {
  display: flex;
  justify-content: space-between;
  grid-area: right-header;
  max-width: 150px;
}
header .cart img {
  width: 35px;
  height: 35px;
  /*width: 2vh;*/
  margin: 0 5px;
}
header .right-header .catalog, 
nav img {
  filter: invert(100%);
}
header .home{
  filter: invert(100%);
}
nav img {
  height: 20px;
}


/* filter: invert(100%);*/
/********************************/
/* Zacatek stylu pro CONTAINER  */
/********************************/
.container {
  max-width: 1200px; /*pc*/
  margin: 0 auto;
  padding: 0px;
  height: 100%;
  min-height: 750px;

  /*mobile*/
}
main {
  max-width: 1200px; /*pc*/
  margin: 0 auto;
  padding: 0px;
  height: 100%;
  min-height: 750px;
}

/****************************/
/* Zacatek stylu pro FOOTER */
/****************************/

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px 0px 60px 0px;
  font-size: small; /* mobile */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
}

footer .contact-info,
footer .quick-links,
footer .social-media, 
footer .FAQ {
  flex: 1;
}

footer .contact-info p {
  margin: 5px 0;
}

footer .quick-links ul {
  list-style: none;
  padding: 0;
}

footer .quick-links ul li {
  margin-bottom: 5px;
}

footer .social-media { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .social-icon {
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}

footer .odstavec {
  width: 100%;
  height: 50px;
}

.FAQ #disclaimer {
  font-size: medium;
}
/* konec stylu pro footer */

/*>> Nize jsou konkretni stylovani <<**/

/******************************/
/* Zacatek stylu pro Catalog */
/******************************/
#catalog {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

/***************************/
/* konec stylu pro Catalog */
/***************************/

/******************************/
/* Zacatek stylu pro Homepage */
/******************************/
 .red-text {
  color: red;

  text-align: center;
}

 .trhak-dne {
  color: red;
  font-size: 2.5rem;
  margin-left: 5%;
}

 .btn-go-to-catalog {
  color: #ffffff;
  background-color: #001831;
  /*#007bff;*/
  font-size: 1rem;
  text-align: center;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.btn-go-to-catalog-2{
  text-align: center;
  background-color: #fff;
  font-size: 1rem;
  border: 1px solid #000;
  width: 150px;
  height: 30px;
  border-radius: 2px;
  cursor: pointer;
}

#homepage .o_nas{
  padding: 15px;
}
#homepage .Homepage-catalog {
  /*flex: 5;*/
  height: 100%; /***/
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 0;
  height: auto;
  min-height: 1550px;
  /*overflow: hidden;*/
}
#homepage .Homepage-catalog:first-child {
  /*flex: 5;*/
  min-height: 620px;
  /*overflow: hidden;*/
}
#homepage .Homepage-catalog:last-child{
  min-height: 650px;
}
#homepage .Homepage-catalog h2 {
  margin-left: 10px;
  font-size: 2vh;
}

 .Homepage-recommended,
 .Homepage-recommended-p3 {
  display: grid;
  grid-template-columns: 1fr; /*mobile*/
  /*min-height: 2500px;/***/
  justify-items: center;
  align-items: start;
  column-gap: 5px;
  row-gap: 5px;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;
}
.Homepage-catalog .dolni-c{
  width: 100%;
  display: flex;
  justify-content: center;
  
}


/******************/
/* konec HOMEPAGE */
/******************/

/* TODO style pro produkt je obecne. Neni jen pro HOMEPAGE*/

/* Product */
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: stretch;
  text-align: center;
  height: 400px;
  min-width: 150px;
  overflow: hidden;
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
}
 /*PC*/
 .product a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 140px;
  font-size: 1vh;
  background-color: #fff;
  height: 350px;
  margin: 0;
  padding: 0;
}

.product .product_photo {
  flex: 2;
  width: 220px;
  height: 220px;
  margin: 5px;
  /*width: 150px;*/
  object-fit: contain;
}


.product .popis {
  margin: 10px 0;
  font-size: 1rem;
  max-width: 250px;
}
.product .hlavni-popis{
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: 0;
    padding: 0;
}
.product .hlavni-popis h3{
 white-space: nowrap;
}

.product .Homepage-recenze {
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.product .Homepage-recenze .star {
  width: auto;
  height: 15px;
  margin: 2px;
}

.Homepage-add-to-cart {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 110px;
  position: relative;
  top: 20%;
  transform: translateY(-50%);
  white-space: nowrap;
  border-radius: 3px;
}

.cena{
    font-weight: bold;
    margin-bottom: 10px;
}

.Homepage-add-to-cart:hover {
  background-color: #0056b3;
}

/*  POZOR STYL PRO MENU a menu-list-catalog BUDE VSUDE STEJNI*/
 .menu, .menu-down, .sub-menu {
  width: 100%;
  height: 30px;
  cursor: pointer;
}
.sub-menu{
  display: flex;
  justify-content: space-between;
}
.seznam{
  position: relative;
}
#catalog .menu, #catalog .menu-down {
  border: solid 1px #333;
  background-color: #333;
}

#catalog .menu-list-catalog h3,
#catalog .Homepage-catalog h2 {
  margin-left: 5px;
}


 .menu img
 ,.sub-menu img
 ,.menu-down img {
  width: 20px;
  cursor: pointer;
}
#catalog .menu img, #catalog .menu-down img{
  filter: invert(100%);
  float: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.menu span {
  float: left;
  padding-left: 15px;
  font-size: 2vb;
}

.menu-list-catalog {
  display: none; 
  flex-direction: column;
  /*flex: 1;*/
  font-size: 2vb;
  background-color: #fff;
  padding: 0px;
  margin: 0;
  border: 1px solid #ddd;
  /*z-index: 0;*/
  height: 100%;
  position: relative;

}

.menu-list-catalog ul {
  position: relative;
  width: 100%;
  display: flex; 
  flex-direction: column;
}
.menu-list-catalog li {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  /*
    border-top: solid 1px #333;
    border-bottom: solid 1px #333;
    */
}
 .menu-list-catalog li:hover {
  border: 1px solid #706b6b;
}

 .menu-list-catalog li a {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 7px;
  width: 100%;
}
 .menu-list-catalog li a:hover {
  background-color: #ddd;
}
.menu:hover {
  visibility: visible;
  opacity: 0;
}
 .menu:hover ~ .menu-list-catalog,
 .sub-menu:hover ~ .menu-list-catalog {
  display: flex;
  /*background-color: #007bff;*/
} /*nefunguje*/
.menu-list-catalog:hover .menu {
  visibility: visible;
} 
 .menu-list-catalog:hover {
  display: flex;
}


/*****************************/
/*---Vyber dopravy-zacatek---*/
/*****************************/

.kosik-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kosik-header {
  margin-left: 15px;
  font-weight: bold;
  /*font-size: 1.5rem;*/
  top: 20px;
}

.product-list {
  width: 100%;
  margin-top: 20px;
}

.product-list th,
.product-list td {
  border: 1px solid #000000;
  padding: 10px;
}

.product-list th {
  text-align: left;
}

.product-list th:last-child,
.product-list td:last-child {
  width: 10%;
}

.total-price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.btn-remove-product {
  color: #ffffff;
  background-color: #000000;
  font-size: 1rem;
  text-align: center;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 25px;
}

.kosik-margin {
  margin-top: 20px;
}


#doprava form {
  
  margin: auto;
}

#doprava .col {
  display: inline-block;
  max-width: 45%;
  margin: 10px;
}

#doprava .row {
  display: flex;
}

#doprava .btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#doprava .btn:hover {
  background-color: #45a049;
}

/***************************/
/*---Vyber dopravy-konec---*/
/***************************/

/************************/
/*---Checkout-zacatek---*/
/************************/

/*---Vyuziva class z ,,kosik.html", jelikoz se jedna o podobny typ stranky---*/
ul {
  list-style-type: none;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}
.card-vyber-placeni {
  border: 1px solid #aaa;
  border-radius: 3px;
  width: 250px;
  height: 35px;
  padding: 2px;
}
.card-vyber-placeni p{
  width: 100%;
  height: 100%;
  border-radius: 3px;
  
}
input[type="radio"]{
  display: none;
}
.card-vyber-placeni input[type="radio"]:checked 
+ p  {
  background-color: rgb(243, 244, 248);
  box-shadow: 0px 0px 2px 2px #333;
}
.card-vyber-placeni p:hover{
  cursor: pointer;
}



.osobni_udaje .group{ 
  position:relative; 
  margin-bottom:45px; 
}
.osobni_udaje input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
.osobni_udaje input:focus { outline:none; }


.osobni_udaje label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

.pay_online form{
  display: grid;
}
.pay_online col{

}
.pay_online input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  margin-bottom: 5px;
}

.pay_online input:focus { outline:none; }
/**********************/
/*---Checkout-konec---*/
/**********************/

#kosik_2 .kus{
  display: flex;
  margin: 0;
 
}
#kosik_2 .input-number{
 width: 20px;
 padding: 0 12px;
 vertical-align: top;
 text-align: center;
 outline: none;
}


#kosik_2 .input-number,
#kosik_2 .input-number-decrement,
#kosik_2 .input-number-increment{
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
  margin: 0;
}


#kosik_2 .input-number-decrement,
#kosik_2 .input-number-increment{
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  }
  
  #kosik_2 .input-number-decrement{
  border-right: none;
  border-radius: 4px 0 0 4px;
  }

  #kosik_2 .input-number-increment{
  border-left: none;
  border-radius: 0 4px 4px 0;
}
#kosik_2 .cena{
  white-space: nowrap;
}
nav{
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  color: #fff;
  text-align: center;
}


nav a,
nav span {
  color: #fff;
  width: 32%;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
}

nav  .selected{
  background-color: #555;
}
#doprava .col{
  display: flex;
  flex-direction: column;
}

/***Honza***/ 

/******************/
/* detail-product */
/******************/
#product-details {
  padding: 10px;
  position: relative;
  margin-top: 20px;
}

#item-description {
  max-width: 100%;
  max-height: 500px;
  margin: auto;
}

.fixed-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product-prices {
  margin-left: 3%;
}
.Price {
  font-weight: bold;
  font-size: 20px;
}

.noTaxes {
  font-size: smaller;
}

.add-to-cart-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 5%;
}

.carousel {
  height: 300px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
}

.carousel-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-image {
  max-height: 300px;
  min-height: 300px;
}

#item-description{
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #333;
  margin: 20px 0;
  text-align: justify;
}

.carousel-controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-controls button {
  padding: 1px;
  border: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 27px;
  background-color: #007bff;
  color: white;
  height: auto;
  margin: 10px;
}

.combos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.payment {
  display: none;
}

.combo-container {
  display: flex;
  flex-direction: column;
  margin: 3px;
}

.combo-container select {
  width: 200px; 
  height: 30px; 
  font-size: 16px;
}

.combo-container label {
  display: block;
  margin-bottom: 10px;
  font-size: small;
  margin-bottom: 0%;
}

.combo-container select {
  margin-bottom: 20px;
}
.product-recenze {
  display: inline-flex;
  width: 100%;
  margin-bottom: 20px;
  font-size: small;
}
.product-recenze .star {
  width: auto;
  height: 15px;
  margin: 5px;
  font-size: 30px;
}
.product-recenze p {
  margin-right: 5px; /* Add margin between star icons */
}

.tabs {
  display: inline-flex;
  border-bottom: 2px solid #ccc;
  margin-top: 20px;
  width: 100%;
}

.tab {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.tab.active {
  background-color: #eee;
  border-bottom: 2px solid #007bff;
}

.tab-content {
  padding: 10px;
  display: none;
}

#description-content p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #333;
  margin: 20px 0;
}

#parameters-table{
  border: solid black 2px;
}

.tab-content.description {
  display: block;
}

.tab-content.description img {
  margin-top: 3px;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.review .star {
  width: auto;
  height: 20px;
  margin: 2px;
  margin-top: 10px;
}

/*****************/
/*Zacatek catalog*/
/*****************/
#catolog .menu {
  background-color: #fff;
  width: 99.4%;
  height: 65px;
}

#catolog .menu img {
  filter: invert(0%);
  float: right;
  display: inline;
  width: 25px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

#catolog .menu p {
  filter: invert(0%);
  float: left;
  text-align: left;
  padding-left: 15px;
  width: 80%;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
/*****************/
/* Konec catalog */
/*****************/

/****************/
/*Zacatek Finish*/
/****************/

main #finish  {
  /* CSS pravidla pro elementy uvnitř <main>, který je potomkem s ID "finish" */
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
}

main #finish  p {
  /* CSS pravidla pro všechny <p> elementy uvnitř <main> v elementu s ID "finish" */
  color: #333;
  font-size: 16px;
}


main #finish ul li {
  /* CSS pravidla pro všechny <li> elementy uvnitř <ul> uvnitř <main> v elementu s ID "finish" */
  margin-bottom: 8px;
}

/* Další CSS pravidla podle potřeby pro různé elementy uvnitř <main> v elementu s ID "finish" */
#finish .close {
  color: #aaa;
  float: left;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  display: block;
}

#finish .close:hover,
#finish .close:focus {
  color: black;
}
main #finish {
  display: flex;
  flex-direction: column;
} 
#finish .objednavka{
  margin-left: 15px;

}
#finish,main #finish {
  height: 100%;
}

/***************/
/* konc Finish */
/***************/

@media screen and (min-width: 320px) and (max-width: 480px) {

  header {
    grid-template-areas: "a . right-header" "b b b";
  }
  .Homepage-recommended,
  .Homepage-recommended-p3 {
    grid-template-columns: 1fr;
  }
}
/*481px — 768 px: iPads, Tablets
    769px — 1024px: Small screens, laptops*/
@media screen and (min-width: 480px) {
  header .search-icon {
    display: none;
  }
  header {
    grid-template-areas: "a . right-header" "b b b";
  }
  .Homepage-recommended {
    grid-template-columns: 1fr 1fr 1fr ;
  }
  .Homepage-recommended-p3{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    position: relative;

  }
  #homepage .Homepage-catalog{
    min-height: 530px;
    
  }
  #homepage .o_nas{
    padding: 10px;
  }
  .search input:focus ~ .search-button {
    display: block;
  }

  #catalog {
    flex-direction: row;
  }
  #catalog .menu .menu-list-catalog {
    display: flex;
  }
  #catalog .menu {
    display: none;
  }
  #category .menu,
  #category .sub-menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  #category .menu p,
  #category .sub-menu p{
    font-size: 20px;
   }
   #category .menu-list-catalog a{
    font-size: 18px;
   }
  .product {
    border: none;
    height: 365px;
  }
  .product a {
  
    min-height: 250px;
  }
  .product .Homepage-recenze {
    display: flex;
    justify-content: center;
    
  }

  .product .hlavni-popis{
    flex-direction: column;
    justify-content: center;
  }
  .product .product_photo {
    width: 200px;
    height: 200px;
  }
  
  .Recommended-products {
    display: flex;
    overflow-x: scroll; 
  }
  .menu-down{
    display: none;
  }
}


@media screen and (min-width: 1025px) {
  header .search-icon {
    display: none;
  }
  header {
    grid-template-areas: "a b b b right-header right-header";
  }
  .Homepage-recommended {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .Homepage-recommended-p3 {
    display: flex;
    justify-content: space-around;
   
  }
  #homepage .o_nas{
    padding: 10px;
   
  }
  .search input:focus ~ .search-button p {
    display: block;
  }
  
  #catalog {
    flex-direction: row;
  }
  #catalog .menu ~ .menu-list-catalog {
    display: flex;
  }
  #catalog .menu {
    display: none;
  }


  .product {
    border-radius: 0px;
  }
  .product a {
    border-radius: 0px;
  }
  
  #product-details {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 10px;
    padding: 10px;
    grid-template-rows: 50px auto auto auto;
  }

  .carousel {
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .carousel-controls{
    grid-row: 4;
    grid-column: 1;
  }

#catalog .menu-list-catalog h3{
    padding: 0 8px;
}
#catalog .menu-list-catalog {
    padding: 0 5px;
    min-width: 150px;
}
#catalog #category .menu-list-catalog{
  min-width: auto;
}
#category .menu,
#category .sub-menu{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#category .menu p,
#category .sub-menu p{
 font-size: 20px;
}
#category .menu-list-catalog a,
#catalog a{
  font-size: 18px;
 }
#catalog .Homepage-catalog{
    min-height: 530px;
    padding: 15px;
  }
  #item-description{
    grid-row: 2;
    grid-column: 2;
  }

  .fixed-container {
    display: none;
  }

  .payment {
    display: inline-flex;
    justify-content: space-between;
  }

  #description-content figure {
    width: 40%; 
    max-width: 300px;
    margin-right: 20px;
    float: right;
  }
  
  .Recommended-products {
    display: flex;
    overflow-x: scroll; 
  }

   .product {
    display: inline-flex;
    width: 200px;
    min-width: 200px; 
    margin: 0 10px;
    padding: 0;
    border-bottom: none;
  }
  .product .hlavni-popis{
    flex-direction: column;
    justify-content: center;
  }
  .catalog{
    display: none;
  }

    /*
  .hlavni-popis {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    border-bottom: none;
    justify-items: center;
    align-items: center;
  }*/
  .menu-down{
    display: none;
  }
  

}

/* Další styly podle vašich potřeb */
